@(prescription: Form[models.forms.PrescriptionForm.Data], user: User, pt: Patient, currentPrescriptionData: PrescriptionData, MRMorphine: List[String], MRMorphineDoses: List[String], BreakthroughMorphine: List[String], BreakthroughMorphineDoses: List[String])(implicit request: RequestHeader, messages: Messages)


@import helper._
@implicitField = @{FieldConstructor(helpers.InputFieldHelper.render)}

@main("Morphidose Prescriber Functions"){
  @request.flash.get("error").map { msg =>
    <div class="col-md-6 col-md-offset-3 alert alert-danger alert-error">
      <a href="#" class="close" data-dismiss="alert">&times;</a>
      <strong>Error!</strong> @msg
    </div>
  }
  @request.flash.get("success").map { msg =>
    <div class="col-md-6 col-md-offset-3 alert alert-success">
      <a href="#" class="close" data-dismiss="alert">&times;</a>
      <strong>Success!</strong> @msg
    </div>
  }
  <div id="main_container">

    <div class="side_nav_container">
      <div class="list-group" id="side_nav">
        <a href="@routes.PrescriptionController.selectPatient()" class="menu"><button type="button" class="list-group-item"><span class="glyphicon glyphicon-search"></span>  Select Patient</button></a>
        <a href="@routes.PrescriberController.addPatientForm()" class="menu"><button type="button" class="list-group-item"><span class="glyphicon glyphicon-plus"></span>  Add New Patient</button></a>
      </div>
    </div>

    <div class="right_div">
      <div class="ptDetails"><span class="edit_pt_details_nav_green">Edit Patient Details</span><span class="large">@pt.title @pt.firstName @pt.surname</span>
        <a href="@routes.PrescriberController.editPatientForm(pt)" class="edit_pt_details_nav">Edit Patient Details</a><br>
          Hospital number: @pt.hospitalNumber,  Date of birth: @pt.dob </div>
      <div class="current_prescription">
        <h3>PRESCRIPTION SUCCESSFUL!</h3>
        <div class="info">
          <p>Prescribed by @currentPrescriptionData.prescriber on @currentPrescriptionData.date ;</p>
          <p class="bg-success">
            @currentPrescriptionData.MRDrug @currentPrescriptionData.MRDose <br>
            @currentPrescriptionData.breakthroughDrug @currentPrescriptionData.breakthroughDose
          </p>
          <p class="center">Edit the doses below, or select a new patient in the menu on the left to proceed.</p>
        </div>
      </div>
      <span id="edit_doses"></span>
      <div class="calculated_dose_titration">
        <div class="info">

          <div class="input">
            <h4>Edit Doses to Prescribe</h4>
            <div class="form" id="edit_doses">
              @form(routes.PrescriptionController.addPrescription(pt)) {
                @helper.CSRF.formField
                <label>Slow Release Morphine:</label>
                <br>
                @select(
                  prescription("MRDrug"),
                  options(MRMorphine)
                )
                @select(
                  prescription("MRDose"),
                  options(MRMorphineDoses)
                )
                <br><br>
                <label>Breakthrough Morphine:</label>
                <br>
                @select(
                  prescription("breakthroughDrug"),
                  options(BreakthroughMorphine)
                )
                @select(
                  prescription("breakthroughDose"),
                  options(BreakthroughMorphineDoses)
                )
                @if(prescription.hasGlobalErrors) {
                  @for(error <- prescription.globalErrors) {
                    <p class="red">@error.message</p>
                  }
                }
                <br><br><br>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Prescribe doses</button>
              }
              <br><br><span id="dose_calculation"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
}