@(prescription: Form[models.forms.PrescriptionForm.Data], user: User, pt: Patient, currentPrescriptionData: PrescriptionData, doseTitrationData: DoseTitrationData, MRMorphine: List[String], MRMorphineDoses: List[String], BreakthroughMorphine: List[String], BreakthroughMorphineDoses: List[String])(implicit request: RequestHeader, messages: Messages)


@import helper._
@implicitField = @{FieldConstructor(helpers.InputFieldHelper.render)}

@main("Morphidose Prescriber Functions"){
  @request.flash.get("error").map { msg =>
    <div class="col-md-6 col-md-offset-3 alert alert-danger alert-error">
      <a href="#" class="close" data-dismiss="alert">&times;</a>
      <strong>Error!</strong> @msg
    </div>
  }
  @request.flash.get("success").map { msg =>
    <div class="col-md-6 col-md-offset-3 alert alert-success">
      <a href="#" class="close" data-dismiss="alert">&times;</a>
      <strong>Success!</strong> @msg
    </div>
  }
  <div id="main_container">

    <div class="side_nav_container">
      <div class="list-group" id="side_nav">
        <a href="" class="menu"><button type="button" class="list-group-item"><span class="glyphicon glyphicon-search"></span>  Select Patient</button></a>
        <a href="@routes.PrescriberController.addPatientForm()" class="menu"><button type="button" class="list-group-item"><span class="glyphicon glyphicon-plus"></span>  Add New Patient</button></a>
      </div>
    </div>

    <div class="right_div">
      <div class="ptDetails"><span class="edit_pt_details_nav_green">Edit Patient Details</span><span class="large">@pt.title @pt.firstName @pt.surname</span>
        <a href="@routes.PrescriberController.editPatientForm(pt)" class="edit_pt_details_nav">Edit Patient Details</a><br>
        Hospital number: @pt.hospitalNumber,  Date of birth: @pt.dob </div>
      <div class="current_prescription">
        <h3>CURRENT PRESCRIPTION</h3>
        <div class="info">
          <p>Prescribed by @currentPrescriptionData.prescriber on @currentPrescriptionData.date ;</p>
          <p class="bg-success">
            @currentPrescriptionData.MRDrug @currentPrescriptionData.MRDose <br>
            @currentPrescriptionData.breakthroughDrug @currentPrescriptionData.breakthroughDose
          </p>
        </div>
      </div>
      <span id="edit_doses"></span>
      <div class="calculated_dose_titration">
        <h3>CALCULATED DOSE TITRATION</h3>
        <div class="info">
          <p> Recommended doses based on the frequency of as required doses taken since the last consultation;</p>
          <p class="bg-success">
            @currentPrescriptionData.MRDrug @doseTitrationData.mrDoseTitration BD <br>
            @currentPrescriptionData.breakthroughDrug @doseTitrationData.breakthroughDoseTitration prn
          </p>
          <div class="buttons">
          <button type="button" class="btn btn-success"><span class="glyphicon glyphicon-pencil"></span>   Prescribe these doses</button>
          <a href="#edit_doses"><button type="button" class="btn btn-warning"><span class="glyphicon glyphicon-pencil"></span>   Edit these doses</button></a>
          <a href="#dose_calculation"><button type="button" class="btn btn-danger"><span class="glyphicon glyphicon-phone"></span>   View calculations</button></a>
          </div>

          <div class="input">
            <h4>Edit Doses to Prescribe</h4>
            <div class="form" id="edit_doses">
              @form(routes.PrescriptionController.addPrescription(pt)) {
                @helper.CSRF.formField
                <label>Slow Release Morphine:</label>
                <br>
                @select(
                  prescription("MRDrug"),
                  options(MRMorphine)
                )
                @select(
                  prescription("MRDose"),
                  options(MRMorphineDoses)
                )
                <br><br>
                <label>Breakthrough Morphine:</label>
                <br>
                @select(
                  prescription("breakthroughDrug"),
                  options(BreakthroughMorphine)
                )
                @select(
                  prescription("breakthroughDose"),
                  options(BreakthroughMorphineDoses)
                )
                @if(prescription.hasGlobalErrors) {
                  @for(error <- prescription.globalErrors) {
                    <p class="red">@error.message</p>
                  }
                }
                <br><br><br>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Prescribe doses</button>
              }
              <span id="dose_calculation"></span>
            </div>
            </div>
        </div>
      </div>
      <div class="dose_calculation">
        <h3>DOSE CALCULATIONS</h3>
        <div class="info">
          <p>The titration doses were calculated as follows;</p>
          <div class="main_titration_calculations">
            <p>
             <b> @doseTitrationData.numOfBreakthroughDoses breakthrough doses taken over the @doseTitrationData.daysSinceCurrentPrescription days since the last consultation.</b><br><br>
              Therefore;
            </p>
            <p>
              <b>Average sum of breakthrough doses per 24 hours</b> <br>
              =  (number of doses taken x breakthrough dose) / days <br>
              = (@doseTitrationData.numOfBreakthroughDoses x @currentPrescriptionData.breakthroughDose mg) / @doseTitrationData.daysSinceCurrentPrescription days <br>
              = @doseTitrationData.average24hrBreakthroughDose mg
            </p>
            <p>
              <b>Average total daily dose</b><br>
              = total daily MR dose + average sum of breakthrough doses per 24 hours <br>
              = @doseTitrationData.totalDailyMRDose mg + @doseTitrationData.average24hrBreakthroughDose mg <br>
              = @doseTitrationData.averageTotalDailyDose mg
            </p>
          </div>
          <div class="mr_calc">
            <h4>@currentPrescriptionData.MRDrug</h4>
            <p>
             <b> Next dose of @currentPrescriptionData.MRDrug to prescribe;</b><br>
                (rounded down to the nearest measurable dose)<br>
              = average total daily dose / 2 <br>
              = @doseTitrationData.averageTotalDailyDose mg / 2 <br>
              = @doseTitrationData.mrDoseTitration mg
            </p>
          </div>
          <div class="prn_calc">
            <h4>@currentPrescriptionData.breakthroughDrug</h4>
            <p>
              <b>Next dose of @currentPrescriptionData.breakthroughDrug to prescribe;</b> <br>
                (rounded down to the nearest measurable dose)<br>
              = average total daily dose / 6 <br>
              = doseTitrationData.averageTotalDailyDose mg / 6 <br>
              = @doseTitrationData.breakthroughDoseTitration mg
              (rounded down to the nearest measurable dose)
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
}