@(patient: Form[models.forms.EditPatientForm.Data], user: models.User, pt: Patient, titles: List[String], daysOfMonth: List[String], months: List[String], yearList: List[String])(implicit request: RequestHeader, messages: Messages)

@import helper._
@implicitField = @{FieldConstructor(helpers.InputFieldHelper.render)}
@import b3.vertical.fieldConstructor

@main("Add a Patient") {
  @request.flash.get("error").map { msg =>
    <div class="col-md-6 col-md-offset-3 alert alert-danger alert-error">
      <a href="#" class="close" data-dismiss="alert">&times;</a>
      <strong>Error!</strong> @msg
    </div>
  }
  @request.flash.get("success").map { msg =>
    <div class="col-md-6 col-md-offset-3 alert alert-success">
      <strong>Success!</strong> @msg
      <br>
      <br>
      <a href="@routes.PrescriptionController.retrieveCurrentPrescription(pt)"><button type="button" class="list-group-item" id="nav_to_pt">Back to Patient</button></a>
    </div>
  }

  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <ul class="nav navbar-nav">
      <li class="active">
        <p class="navbar-text" >The Morphine Dosing Solution</p>
      </li>
    </ul>
    <ul class="nav navbar-nav pull-right">
      <li>
        <a href="@routes.ApplicationController.signOut" class="logout"><span class="glyphicon glyphicon-log-out"></span> Log out</a>
      </li>
    </ul>
  </nav>
  <div id="main_container">
    <div class="side_nav_container">
      <div class="list-group" id="side_nav">
        <div class="side_nav_pt_details">
          <b class="ptName">@pt.title @pt.firstName @pt.surname</b>
          <br><b>@pt.hospitalNumber</b>
          <br>Date of Birth: @pt.dob
          <div class="allergies">
            <h6>Allergies</h6>
            <div class="allergy_info">NKDA</div>
          </div>
        </div>
        <a href="@routes.PrescriptionController.selectPatient()" class="menu"><button type="button" class="list-group-item"><span class="glyphicon glyphicon-search"></span>  Select A Patient</button></a>
        <a href="@routes.PrescriberController.addPatientForm()" class="menu"><button type="button" class="list-group-item"><span class="glyphicon glyphicon-plus"></span>  Add New Patient</button></a>
      </div>
    </div>
    <div class="right_div">
      @*<div class="ptDetails"><span class="edit_pt_details_nav_green">Edit Patient Details</span><span class="large">@pt.title @pt.firstName @pt.surname</span>*@
        @*<a href="@routes.PrescriberController.editPatientForm(pt)" class="edit_pt_details_nav">Edit Patient Details</a><br>*@
        @*Hospital number: @pt.hospitalNumber,  Date of birth: @pt.dob </div><br><br>*@
      <div class="first-prescription">
      <div class="input">
        <h3>Edit Patient Details</h3>
        <div class="form modal-body" id="myModal">
        @form(routes.PrescriberController.editPatient(pt)) {
          @helper.CSRF.formField
          <p>
            Note: you can <b>not</b> change a patients hospital number. Please speak to the administrator if this is required.
          </p>
          @b3.select(patient("title"), options(titles), '_label -> "Title:")
          @b3.text(patient("firstName"), '_label -> "First Name:", 'value -> pt.firstName)
          @b3.text(patient("surname"), '_label -> "Surname:", 'value -> pt.surname)
          <label>Date Of Birth:</label>
          @select(
            patient("dobDayOfMonth"),
            options(daysOfMonth), '_label -> "Day"
          )
          @select(
            patient("dobMonth"),
            options(months), '_label -> "Month"
          )
          @select(
            patient("dobYear"),
            options(yearList), '_label -> "Year"
          )
          @if(patient.hasGlobalErrors) {
            @for(error <- patient.globalErrors) {
              <p class="red">@error.message</p>
            }
          }
          <br><br><br>
          <button class="btn btn-lg btn-primary btn-block" type="submit">SUBMIT DETAILS</button>
        }
        </div>
      </div>
      </div>
    </div>
  </div>
}