@(prescription: Form[models.forms.PrescriptionForm.Data], user: User, pt: Patient, MRMorphine: List[String], MRMorphineDoses: List[String], BreakthroughMorphine: List[String], BreakthroughMorphineDoses: List[String])(implicit request: RequestHeader, messages: Messages)

@import helper._
@implicitField = @{FieldConstructor(helpers.InputFieldHelper.render)}
@import b3.vertical.fieldConstructor

@main("Morphidose Prescriber Functions"){
  @request.flash.get("error").map { msg =>
    <div class="col-md-6 col-md-offset-3 alert alert-danger alert-error">
      <a href="#" class="close" data-dismiss="alert">&times;</a>
      <strong>Error!</strong> @msg
    </div>
  }
  @request.flash.get("success").map { msg =>
    <div class="col-md-6 col-md-offset-3 alert alert-success">
      <a href="#" class="close" data-dismiss="alert">&times;</a>
      <strong>Success!</strong> @msg
    </div>
  }

  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <ul class="nav navbar-nav">
      <li class="active">
        <p class="navbar-text" >The Morphine Dosing Solution</p>
      </li>
    </ul>
    <ul class="nav navbar-nav pull-right">
      <li>
        <a href="@routes.ApplicationController.signOut" class="logout"><span class="glyphicon glyphicon-log-out"></span> Log out</a>
      </li>
    </ul>
  </nav>
  <div id="main_container">
    <div class="side_nav_container">
      <div class="list-group" id="side_nav">
        <a href="@routes.PrescriptionController.selectPatient()" class="menu"><button type="button" class="list-group-item"><span class="glyphicon glyphicon-search"></span>  Select A Patient</button></a>
        <a href="@routes.PrescriberController.addPatientForm()" class="menu"><button type="button" class="list-group-item"><span class="glyphicon glyphicon-plus"></span>  Add New Patient</button></a>
      </div>
    </div>
    <div class="right_div">
      <div class="ptDetails"><span class="large">@pt.title @pt.firstName @pt.surname</span>
        <br>Hospital number: @pt.hospitalNumber,  Date of birth: @pt.dob </div>
      <div class="first-prescription">
        <p class="center">If the patient details are incorrect you can edit these in the next step.</p>
        <div class="input">
          <h3>PRESCRIBE INITIAL DOSES</h3>
          <div class="form">
          @form(routes.PrescriptionController.addPrescription(pt)) {
            @helper.CSRF.formField
            <br><br><br>
            <label>Slow Release Morphine:</label>
            <br>
            @select(
              prescription("MRDrug"),
              options(MRMorphine)
            )
            @select(
              prescription("MRDose"),
              options(MRMorphineDoses)
            )
            <br><br>
            <label>Breakthrough Morphine:</label>
            <br>
            @select(
              prescription("breakthroughDrug"),
              options(BreakthroughMorphine)
            )
            @select(
              prescription("breakthroughDose"),
              options(BreakthroughMorphineDoses)
            )
            @if(prescription.hasGlobalErrors) {
              @for(error <- prescription.globalErrors) {
                <p class="red">Please choose a drug and a dose for both slow release morphine and breakthrough morphine. </p>
              }
            }
            <br><br><br>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Prescribe doses</button>
          }
          </div>@*End of form*@
        </div>@*End of input*@
        </div>
      </div>@*End of calculated_dose_titration*@
    </div>@*End of right_div*@
  </div>@*End of main_container*@
}